:root {
    --scroll-menu-width: 20px;
    --paragraph-font-size: 25px;
    --paragraph-line-height: 29px;
    --title-font-size: 70px;
    --segment-title-font-size: 50px;
    --segment-button-font-size: 40px;
    --slideshow-width: 1000px;
    --slideshow-top-height: 600px;
    --slideshow-text-height: 150px;
    --slideshow-text-font-size: 17px;
    --segment-section-margin-bottom: 20px;
}
.drawnBorder {
    border: solid transparent;
    border-image: url('./Images/border2.png');
    border-width: 10px 13px 11px 12px;
    border-image-slice: 10 13 11 12 fill;
    border-image-repeat: round;
}
@font-face {
    font-family: ReenieBeanie;
    src: url('./Fonts/ReenieBeanie.ttf');
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: ReenieBeanie, sans-serif;
    font-size: var(--paragraph-font-size);
}
button {
    font-family: ReenieBeanie, sans-serif;
    font-size: var(--paragraph-font-size);
    background-color: transparent;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}
#App {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
p {
    margin: 0;
}
.segment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    /*background-image: url('./Images/lined-paper-background.jpg');*/
}
.panelSide {
    display: flex;
    justify-content: center;
    align-items: center;

}

.segmentTitle {
    font-size: var(--segment-title-font-size);
    text-align: center;

}
.segmentText {
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    text-align: justify;
}
.segmentMargined {
    margin-bottom: var(--segment-section-margin-bottom);
}
.segmentButton {
    text-align: left;
    justify-content: start;
    height: 70px;
    font-size: var(--segment-button-font-size);
    transition: 0.15s ease-out;
    position: relative;
    display: flex;
    align-items: center;
}
.segmentButtonOuter {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.segmentButtonHovers {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    left: -12px;
    top: -12px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.segmentButtonHoverArea {
    flex-basis: 33.33%;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel {
    width: 90%;
    height: 90%;
    position: absolute;
    /*background-color: white;*/
    display: flex;
}
.panelSegment {
    margin-bottom: 50px;
}
.slideshowContainer {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    width: var(--slideshow-width);
    position: relative;
}
.slideshowCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.slideshowSide {
    width: 30px;
    min-width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.slideshowImageContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    height: var(--slideshow-top-height);
    width: 100%;
}
.slideshowImage {
    max-width: calc(100% - 20px * 2);
    max-height: calc(100% - 20px * 2);
    position: absolute;
    /*transition: 0.3s;*/

}
.slideshowButtons {
    width: 30px;
    height: 30px;
}
.slideshowTextDiv {
    margin-top: 55px;
    height: var(--slideshow-text-height);
    width: 100%;
    display: flex;
    align-items: center;

}
.slideshowText {
    text-align: center;
    font-size: var(--paragraph-font-size);
    position: absolute;
}

#scrollMenu {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: var(--scroll-menu-width);
}
.scrollMenuButton {
    width: var(--scroll-menu-width);
    height: var(--scroll-menu-width);
    border-radius: var(--scroll-menu-width);
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
    cursor: pointer;
    z-index: 100;
    position: relative;
}
.selected {
    border: 3px solid red;
}
.animatingPageUp {
    animation: pageUp 1s ease-in-out forwards;
}
.animatingPageDown {
    animation: pageDown 1s ease-in-out forwards;
}
@keyframes pageUp {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50%, 10%) rotate(-20deg);
    }
    100% {
        transform: translate(-100%) rotate(-80deg);
    }
}
@keyframes pageDown {
    0% {
        transform: translate(-100%) rotate(-80deg);
    }
    50% {
        transform: translate(-50%, 10%) rotate(-20deg);
    }
    100% {
        transform: translate(0, 0);
    }
}
.theHANDContainer {
    /*background-color: red;*/
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
    display: none;
}
.theHAND {
    height: 300px;
    position: absolute;
    transform-origin: 150px 150px;
}
.downButton {
    width: 160px;
    height: 30px;
    /*border-radius: 30px;*/
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}