html {
    width: 100%;
    height: 100%;
    /*margin: 0;*/
    /*padding: 0;*/
}
body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginFormContainerOuter {
    width: 600px;
    height: 400px;
    background-color: #c5f0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px #9ad2ff; /* horizontal vertical blur spread */
}
#loginFormContainerInner {
    width: 80%;
    height: 60%;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;

}
#loginForm {
    width: 100%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.inputLabel {
    padding-left: 3px;
}
.formSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0;

}
.loginInput {
    outline: 0;
    border-radius: 10px;
    width: 100%;
    border: 5px solid transparent;
    padding: 0;
    transition-duration: 0.3s;
    font-weight: bold;
    height: 40px;
    box-sizing: border-box;
    text-indent: 15px;
}
/*.loginInput:focus {*/
/*    border-bottom: 5px solid #2eebff;*/
/*    outline: 0;*/
/*    border-radius: 0;*/
/*    !*border-radius: 15px 15px 0 0;*!*/
/*}*/
#loginButton {
    outline: 0;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    transition-duration: 0.3s;
    border: 5px solid transparent;
    /*margin-left: 30px;*/
    height: 40px;

}
/*#loginButton:hover {*/
/*    border-bottom: 5px solid #2eebff;*/
/*    border-radius: 0;*/
/*}*/
#loginButton:focus {
    border: 10px;
    outline: 0;
}