
:root {
    --line-height: 23px;
    --lines: 6;
    --accent-color: #4ab1ef;
    --main-color: #1589e4;
    --reply-color: #e63066;
    --modal-color: white;
    --modal-background-color: rgba(110, 165, 239, 0.5);
    --message-background-color: white;
    --button-background-color: white;
    --button-background-hover-color: gray;
    --loading-overlay-background-color: black;
    --text-input-background-color: white;
    --border-radius: 10px;
    --border-thickness: 3px;
    --border: var(--border-thickness) solid;
    --padding-bottom: 14px;
    --padding-top: 8px;
    --profile-pic-margin: 5px;
    --active-conversations-width: 250px;
    --chat-info-width: 250px;
    --online-users-width: calc(60px + var(--border-thickness));
    --bottom-height: 100px;
    --max-message-width: 500px;
    --panel-title-height: 70px;
    --item-block-height: 60px;
}
html {
    font-family: Arial, serif;
}
* {
    scrollbar-width: thin;
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
}
html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: var(--button-background-color);
}
button:hover {
    background-color: var(--button-background-hover-color);
}
/* main panels */
#mainContainer {
    width: 80%;
    height: 80%;
    display: flex;
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
}
#currentConversation {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    max-width: calc(100% - var(--online-users-width) - var(--active-conversations-width) - var(--chat-info-width));
}
#messages {
    flex-grow: 1;
    overflow: auto;
    position: relative;
    padding-bottom: 5px;
}
.typingBar {
    margin-top: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.replyBar {
    margin-top: auto;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.replyBarText, .messageText {
    overflow-wrap: break-word;
    white-space: pre-line;
    padding: 0;
    margin: 0;
}
.replyBarText {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 200px;
    margin-right: 10px;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 5px;
}
#chatInfoPanel {
    width: var(--chat-info-width);
    min-width: var(--chat-info-width);
}

#activeConversationsPanel {
    width: var(--active-conversations-width);
    min-width: var(--active-conversations-width);
}
#activeConversationsMain {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.itemBlock {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: var(--item-block-height);
    min-height: var(--item-block-height);
    padding: var(--profile-pic-margin);

}
#currentlyOnlineUsersPanel {
    width: var(--online-users-width);
    min-width: var(--online-users-width);
}
.blockText {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.conversationBlockText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.closeButton {
    margin: 10px 10px 10px auto;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}
#userInfoPanel {
    height: var(--bottom-height);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: var(--reply-color);
    margin-top: auto;
}

#messageInputDiv {
    min-height: var(--bottom-height);
    max-height: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border) var(--main-color)
}

.groupChatButtonsDiv {
    display: flex;
    justify-content: space-evenly;
}
.groupChatButton {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.panelTitle {
    height: var(--panel-title-height);
    line-height: var(--panel-title-height);
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-bottom: var(--border) var(--main-color);
}
.panelList {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.panel {
    display: flex;
    flex-direction: column;
}
.panelArea {
    flex-grow: 1;
    display: flex;
    border-right: var(--border) var(--main-color);
    flex-direction: column;
    max-height: calc(100% - var(--panel-title-height) - var(--border-thickness))
}
.messageDiv {
    width: 100%;
    min-height: 50px;
    height: auto;
    margin: 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;
    flex-direction: row;
    padding-bottom: 5px;
    background-color: var(--message-background-color);
    transition: background-color 1s;
}
.messageDiv.highlighted {
    background-color: var(--reply-color);
    transition: background-color 0s;
}
.messageDiv.myText {
    flex-direction: row-reverse;
}
.messageDiv.hasReply {
    margin-top: 10px;
}
.messageBubble {
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
    max-width: var(--max-message-width);
    padding: 10px;
    margin: 0;
    position: relative;
}
.replyBubble {
    position: relative;
    margin: -20px -20px 10px 0;
    background-color: var(--message-background-color);
    border: var(--border) var(--reply-color);
    overflow-wrap: break-word;
    border-radius: var(--border-radius);
    overflow-x: visible;
    padding: 15px;
    max-height: 200px;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
}
.replyBubble.myText {
    margin-right: 0;
    margin-left: -20px;
}
.replyProfilePic {
    position: absolute;
    top: -7px
}
.replyProfilePic.myText {
    right: -27px;
}
.replyProfilePic.notMyText {
    left: -27px;
}
.readIndicators {
    position: absolute;
    bottom: -10px;
    display: flex;
    z-index: 10;
    max-width: var(--max-message-width)
}
.readIndicators.myText {
    right: 0;
    flex-direction: row-reverse;
}
.readIndicators.notMyText {
    left: 0;
}
.readIndicatorsProfilePic.notMyText {
    margin: 0 0 0 3px;
}
.readIndicatorsProfilePic.myText {
    margin: 0 3px 0 0;
}

.modalBackground {
    background-color: var(--modal-background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 600px;
    height: 400px;
    background-color: var(--modal-color);
}
.modalTitle {
    width: 100%;
    text-align: center;
    line-height: 30px;
    position: relative;
}
.modalCloseButton {
    position: absolute;
    right: 0;
    top: 0;
}
.dropdown {
    position: relative;
}
/*.dropdown:hover .dropdownContent {*/
/*    display: flex;*/
/*}*/
.dropdownOpened {
    display: flex !important;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    min-width: 160px;
    flex-direction: column;
    right: 0;
}
.dropdownButton {

}
#messageInput {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    line-height: var(--line-height);
    font-size: 17px;
    padding-left: 20px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    max-height: calc(var(--line-height) * var(--lines) + var(--padding-bottom) + var(--padding-top));
    outline: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border: var(--border) var(--accent-color);
    background-color: var(--text-input-background-color);
    border-radius: var(--border-radius);
    transition: all 0.15s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
}
#messageInput.scroll {
    overflow-y: scroll;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.userPic {
    margin: 0;
    padding: 0;
}
canvas {
    vertical-align: middle;
    cursor: pointer;
}

#messageSendButton {
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    margin-left: 30px;
    border-radius: 60px;
    outline: 0;
    border: var(--border) var(--accent-color);
    background-color: var(--text-input-background-color);
    transition: all 0.15s ease;
    cursor: pointer;
}
#messageSendButton:hover {
    background-color: var(--accent-color);
}

.hoverButtons {
    height: 25px;
    position: relative;
}
.hoverButton {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 10px;
    margin-right: 0;
}
.hoverButton.myText {
    margin-left: 0;
    margin-right: 10px;
}

.userPopup {
    position: absolute;
    display: flex;
    width: 200px;
    flex-direction: column;
    border: var(--border) var(--accent-color);
    background-color: var(--modal-color);
    z-index: 15;
}
.userPopupButton {
    background-color: var(--button-background-color);
}
.userPopupButton:hover {
    background-color: var(--button-background-hover-color);
}
#settings {
    min-width: 600px;
    height: 400px;
    background-color: var(--modal-color);
    display: flex;
}

#settingsLeftPanel {
    display: flex;
    flex-direction: column;
    width: 100px;
    min-width: 100px;
}
#settingsMainPanel {
    display: flex;
    flex-grow: 1;
    background-color: red;
}