html {
    font-weight: bold;
    font-family: Arial, serif;
}
#messages, .replyBarText, .panelList, #messageInput {
    scrollbar-width: thin;
}
#app {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scrollbar-width: thin;
}
#loadingOverlay {
    position: absolute;
    background-color: black;
    z-index: 100;
}
html, body, #app, #loadingOverlay {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
button {
    outline: 0;
    border: 0;
    cursor: pointer;
}
/* main panels */
#mainContainer {
    width: 80%;
    height: 80%;
    display: flex;
    border: inset 5px red;
}
#currentConversation {
    border: inset 5px black;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    max-width: calc(100% - 60px - 250px - 250px - 10*4px);
}
#messages {
    flex-grow: 1;
    border: inset 5px pink;
    overflow: auto;
    position: relative;
}
.typingBar {
    border: inset 5px blue;
    margin-top: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.replyBar {
    border: inset 5px blue;
    margin-top: auto;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.replyBarText, .messageText {
    overflow-wrap: break-word;
    white-space: pre-line;
    padding: 0;
    margin: 0;
}
.replyBarText {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: visible;
    /*overflow-y: auto;*/
    max-height: 200px;
    margin-right: 10px;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 5px;
    /*display: flex;*/
}
#chatInfoPanel {
    width: 250px;
    min-width: 250px;
    border: inset 5px blue;
}

#activeConversationsPanel {
    width: 250px;
    min-width: 250px;
    border: inset 5px yellow;
    display: flex;
    flex-direction: column;
    /*height: 0;*/
}
#activeConversationsMain {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border: inset 5px red;
}
.itemBlock {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
    padding: 5px 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}
#currentlyOnlineUsersPanel {
    width: 60px;
    min-width: 60px;
    border: inset 5px purple;
}
.blockText {
    text-align: left;
    /*white-space: pre-line;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.conversationBlockText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.closeButton {
    margin: 10px 10px 10px auto;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}
#userInfoPanel {
    height: 100px;
    flex-shrink: 0;
    border: inset 5px purple;
    display: flex;
    align-items: center;
}

#messageInputDiv {
    min-height: 100px;
    max-height: 500px;
    flex-shrink: 0;
    border: inset 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupChatButtonsDiv {
    display: flex;
    justify-content: space-evenly;
    /*background-color: red;*/
}
.groupChatButton {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.panelTitle {
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.panelList {
    display: flex;
    flex-direction: column;
    overflow: auto;
}



.messageDiv {
    width: 100%;
    min-height: 50px;
    height: auto;
    margin: 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;
    flex-direction: row;
    padding-bottom: 5px;
    background-color: white;
    transition: background-color 1s;
}
.messageDiv.highlighted {
    background-color: red;
    transition: background-color 0s;
}
.messageDiv.myText {
    flex-direction: row-reverse;
}
.messageDiv.hasReply {
    margin-top: 10px;
}
.messageBubble {
    /*background-color: red;*/
    border: 3px solid #1589e4;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
    margin: 0;
}
.replyBubble {
    position: relative;
    margin: -20px -20px 10px 0;
    background-color: white;
    border: 3px solid #e63066;
    overflow-wrap: break-word;
    border-radius: 10px;
    /*overflow-y: clip;*/
    overflow-x: visible;
    padding: 15px;
    max-height: 200px;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
}
.replyBubble.myText {
    margin-right: 0;
    margin-left: -20px;
}
.readIndicators {
    position: relative;
    bottom: -20px;
    display: flex;
    border: 1px solid black;
    z-index: 10;
}

:root {
    --line-height: 23px;
    --lines: 6;
    --accent-blue: #4ab1ef;
    --main-blue: #1589e4;
    --padding-bottom: 14px;
    --padding-top: 8px;

}

#messageInput {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    line-height: var(--line-height);
    font-size: 17px;
    padding-left: 20px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    max-height: calc(var(--line-height) * var(--lines) + var(--padding-bottom) + var(--padding-top));
    outline: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 3px solid var(--accent-blue);
    background-color: white;
    border-radius: 10px;
    transition: all 0.15s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
}
#messageInput.scroll {
    overflow-y: scroll;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.userPic {
    margin: 0;
    padding: 0;
}
canvas {
    vertical-align: middle;
    cursor: pointer;
}

#messageSendButton {
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    margin-left: 30px;
    border-radius: 60px;
    outline: 0;
    border: 3px solid var(--accent-blue);
    background-color: white;
    transition: all 0.15s ease;
    cursor: pointer;
}
#messageSendButton:hover {
    border: 3px solid var(--accent-blue);
    background-color: #4ab1ef;
}

.hoverButtons {
    height: 25px;
    position: relative;
}
.hoverButton {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 10px;
    margin-right: 0;
}
.hoverButton.myText {
    margin-left: 0;
    margin-right: 10px;
}

.userPopup {
    position: absolute;
    display: flex;
    width: 200px;
    flex-direction: column;
    border: 5px solid blue;
    background-color: white;
}
.userPopupButton {
    background-color: white;
}
.userPopupButton:hover {
    background-color: #dababa;
}

.fullScreenOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainSettingsPanel {
    width: 600px;
    height: 400px;
    background-color: white;
}
