html {

    font-family: var(--main-font), sans-serif;
}
* {
    font-size: var(--main-font-size);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--app-background-color);
}
.mobile {

}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
}
html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
}
a:link, a:visited {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: black;
    transition: 0.15s;
}
button:hover {
    background-color: var(--button-background-hover-color);
    color: var(--button-text-hover-color)
}
button:active {
    transition: 0s;
    background-color: var(--button-background-active-color);
}
input, select {
    background-color: var(--input-background-color);
    border: var(--input-border-thickness) solid var(--main-color);
    outline: 0;
    border-radius: var(--input-border-radius)
}
input:focus, select:focus {
    /*border: var(--input-border-thickness) solid var(--accent-color);*/
    outline: 0;
}

#mainContainer {
    width: 80%;
    height: 80%;
    display: flex;
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.mobile #mainContainer {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
}

#currentConversation {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    max-width: calc(100% - var(--online-users-width) - var(--active-conversations-width) - var(--chat-info-width));
}
.mobile #currentConversation {
    width: 100%;
    max-width: 100%;
}
#messages {
    flex-grow: 1;
    overflow: auto;
    position: relative;
    padding-bottom: 40px;
    background-color: var(--app-background-color);
}
.replyBar {
    margin-top: auto;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
    border-top: var(--border) var(--accent-color);
    padding-left: var(--bar-padding-left);
    background-color: var(--app-background-color);
}
.replyBarText, .messageText {
    overflow-wrap: break-word;
    white-space: pre-line;
    padding: 0;
    margin: 0;
}
.replyBarText {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 200px;
    margin-right: 10px;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 5px;
}
#chatInfoPanel {
    width: var(--chat-info-width);
    min-width: var(--chat-info-width);
}

.mobile #chatInfoPanel {
    width: 100%;
}

#activeConversationsPanel {
    width: var(--active-conversations-width);
    min-width: var(--active-conversations-width);
}
.mobile #activeConversationsPanel {
    width: 100%;

    /*min-width: var(--active-conversations-width);*/
}
.mobile #activeConversationsPanelArea {
    border-right: 0;
}
#activeConversationsMain {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--app-background-color);
    position: relative;
}
#activeConversationList {
    max-height: calc(100% - var(--bottom-height));
}
.itemBlock {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: var(--item-block-height);
    min-height: var(--item-block-height);
    padding: var(--profile-pic-margin);
    background-color: var(--app-background-color);
    color: var(--app-text-color);
}
.itemBlock:hover {
    background-color: var(--big-button-background-hover-color);
    color: var(--big-button-text-hover-color);
}
.itemBlock:active {
    background-color: var(--big-button-background-active-color);
    color: var(--big-button-text-active-color);
}
.itemBlockCloseButton {
    background-color: var(--app-background-color);
    color: var(--app-text-color);
}
.itemBlock:hover .itemBlockCloseButton {
    background-color: var(--big-button-background-hover-color);
}
.itemBlock:hover .itemBlockCloseButton:hover {
    background-color: var(--app-background-color);
    color: var(--big-button-background-hover-color);
}
/*.itemBlockCloseButton:active {*/
/*    background-color: var(--app-background-color);*/
/*    color: var(--app-text-color);*/
/*}*/
.conversationBlock {
    padding-left: 10px;
    padding-bottom: 10px;
}
hr {
    /*width: 80%;*/
    border: 0;
    border-top: 1px solid var(--main-color);
    /*height: 3px;*/

    margin: 3px 13px;
}
#currentlyOnlineUsersPanel {
    width: var(--online-users-width);
    min-width: var(--online-users-width);
}
.blockText {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.conversationBlockText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.closeButton {
    margin: 10px 10px 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: var(--small-button-border-radius)
    /*width: 28px;*/
    /*height: 28px;*/
    /*min-width: 28px;*/
    /*min-height: 28px;*/
    /*border: var(--border) var(--main-color);*/
    /*padding: 0;*/
    /*line-height: 12px;*/
}

#userInfoPanel {
    height: var(--bottom-height);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-top: auto;
    border-top: var(--border) var(--main-color);
}


#messageInputDiv {
    min-height: var(--bottom-height);
    max-height: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border) var(--main-color);
    /*padding: 10px;*/
}

.groupChatButtonsDiv {
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    line-height: 0;
    margin-left: 3px;
}
.groupChatButton {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.panelTitle {
    border-bottom: var(--border) var(--main-color);
    background-color: var(--app-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--panel-title-height);
}
.mobile .panelTitle {
    justify-content: space-between;
}
.panelList {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.fullSize {
    width: 100% !important;
}
.panel {
    display: flex;
    flex-direction: column;
}
.panelArea {
    flex-grow: 1;
    display: flex;
    border-right: var(--border) var(--main-color);
    flex-direction: column;
    background-color: var(--app-background-color);
    max-height: 100%
}
.messageDiv {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: row;
    padding-top: 7px;
    background-color: var(--app-background-color);
    transition: background-color 1s;
}
.messageDiv.highlighted {
    background-color: var(--reply-color);
    transition: background-color 0s;
}
.messageDiv.myText {
    flex-direction: row-reverse;
}
.messageDiv.hasReply {
    margin-top: 10px;
}
.messageBubble {
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
    max-width: var(--max-message-width);
    padding: 10px;
    margin: 0;
    position: relative;
    background-color: var(--message-bubble-background-color);
    color: var(--message-bubble-text-color);
}
.mobile .messageBubble {
    max-width: calc(100% - (var(--profile-pic-holder-margins) * 2 + var(--profile-pic-holder-width) + var(--mobile-message-margin)));
}
.replyBubble {
    position: relative;
    margin: -20px -20px 10px 0;
    background-color: var(--reply-bubble-background-color);
    color: var(--reply-bubble-text-color);
    border: var(--border) var(--accent-color);
    overflow-wrap: break-word;
    border-radius: var(--border-radius);
    overflow-x: visible;
    padding: 15px;
    max-height: 200px;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
}
.replyBubble.myText {
    margin-right: 0;
    margin-left: -20px;
}
.replyProfilePic {
    position: absolute;
    top: -7px
}
.replyProfilePic.myText {
    right: -27px;
}
.replyProfilePic.notMyText {
    left: -27px;
}
.messageProfilePicHolder {
    margin: 0 var(--profile-pic-holder-margins);
    width: var(--profile-pic-holder-width);
}
.readIndicators {
    position: absolute;
    bottom: -12px;
    display: flex;
    z-index: var(--read-indicators-z);
    max-width: var(--max-message-width)
}
.readIndicators.myText {
    right: 0;
    flex-direction: row-reverse;
}
.readIndicators.notMyText {
    left: 0;
}
.readIndicatorsProfilePic.notMyText {
    margin: 0 0 0 3px;
}
.readIndicatorsProfilePic.myText {
    margin: 0 3px 0 0;
}

.modalBackground {
    background-color: var(--modal-overlay-background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: var(--overlay-z);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.modal {
    width: 600px;
    max-height: 400px;
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}
.popup {
    width: 300px;
    /*height: 100px;*/
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.popupCloseButton {
    margin-top: auto;
    margin-bottom: 20px;
    display: block;
    width: 80%;
    border-radius: var(--small-button-border-radius);
    background-color: var(--popup-button-background-color);
    color: var(--popup-button-text-color);
}
.popupText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    width: 80%;
}
.modalTitle {
    width: 100%;
    text-align: center;
    line-height: 30px;
    position: relative;
}
.modalCloseButton {
    position: absolute;
    right: 0;
    top: 0;
}
.dropdown {
    position: relative;
}
/*.dropdown:hover .dropdownContent {*/
/*    display: flex;*/
/*}*/
.dropdownOpened {
    display: flex !important;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: black;
    z-index: var(--dropdown-content-z);
    min-width: 200px;

    flex-direction: column;
    right: 0;
    border: var(--border) var(--main-color);

}
.dropdownButton {
    background-color: var(--dropdown-background-color);
    color: var(--dropdown-text-color);
    height: var(--row-height);
    text-align: left;
    padding-left: var(--bar-padding-left);
}
#messageInput {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    line-height: var(--line-height);
    padding-left: 20px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    max-height: calc(var(--line-height) * var(--lines) + var(--padding-bottom) + var(--padding-top));
    outline: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border: var(--border) var(--main-color);
    color: var(--message-bar-text-color);
    background-color: var(--message-bar-background-color);
    border-radius: var(--border-radius);
    transition: all 0.15s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
}
#messageInput.scroll {
    overflow-y: scroll;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.mobile #messageInput {
    width: 70%;
}
.userPic {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 0;
}
canvas {
    vertical-align: middle;
    cursor: pointer;
}

#messageSendButton {
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    margin-left: 30px;
    border-radius: 60px;
    outline: 0;
    border: var(--border) var(--main-color);
    background-color: var(--app-background-color);
    transition: all 0.15s ease;
    cursor: pointer;
}
#messageSendButton:hover {
    background-color: var(--main-color);
}

.hoverButtons {
    height: 25px;
    position: relative;
}
.hoverButton {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 10px;
    margin-right: 0;
    /*font-size: 13px;*/
    color: var(--app-text-color)
}
.hoverButton.myText {
    margin-left: 0;
    margin-right: 10px;
}

.userPopup {
    position: absolute;
    display: flex;
    width: 200px;
    flex-direction: column;
    border: var(--border) var(--accent-color);
    background-color: var(--user-popup-background-color);
    color: var(--user-popup-text-color);
    z-index: var(--user-popup-z);
    border-radius: var(--border-radius);
    align-items: center;
    overflow: hidden;
}
.userPopupButton {
    background-color: var(--user-popup-background-color);
    color: var(--user-popup-text-color);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    height: var(--button-height);
    width: 100%;
}
.conversationPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: var(--border) var(--accent-color);
    background-color: var(--user-popup-background-color);
    color: var(--user-popup-text-color);
    z-index: var(--user-popup-z);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.userPopupButton:hover {
    background-color: var(--button-background-hover-color);
}
#settings {
    min-width: 600px;
    min-height: 400px;
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    display: flex;
    border: var(--border) var(--main-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}
.mobile #settings {
    min-width: 0;
    min-height: 0;
    width: var(--mobile-modal-width);
    height: var(--mobile-modal-height);
    flex-direction: column;
}

#settingsLeftPanel {
    display: flex;
    flex-direction: column;
    width: 130px;
    border-right: var(--border) var(--main-color);
    padding-top: var(--settings-padding);
}
.mobile #settingsLeftPanel {
    width: 100%;
    /*flex-direction: row;*/
}
.settingsButton {
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    height: var(--row-height);
    border-radius: var(--border-radius);
    padding: 0 10px;
}
.selectedSettingsTab {
    background-color: var(--main-color) !important;
    color: white !important;
}
.settingsTabButton {
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);
    height: var(--row-height);
}
.biggerButton {
    min-width: 80px;
}
#settingsMainPanel {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 600px;
    position: relative;
    scrollbar-color: var(--scrollbar-thumb) var(--modal-background-color);
}
.settingsTab {
    display: flex;
    width: 100%;
    /*height: 100%;*/
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: var(--settings-padding);
}
.settingsRow {
    height: var(--row-height);
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    justify-content: space-between;
}
.regularRow {
    height: var(--row-height);
    display: flex;
}
.userRow {
    height: var(--row-height);
    align-items: center;
    display: flex;
    /*background-color: red;*/
}
.userRowButton {
    margin: 0 10px 0 auto;
}
.userRowProfilePic {
    margin: 0 5px 0 5px;
}
.borderedButton {
    border: var(--button-border-thickness) solid var(--main-color);
}
.squareButton {
    width: 25px;
    height: 25px;
    min-height: 25px;
    min-width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
}
.bothSideRow {
    display: flex;
    justify-content: space-between
}
.smallButton {
    background-color: var(--app-background-color);
    border-radius: var(--small-button-border-radius);
}
.icon {
    display: inline-block;
    vertical-align: middle;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    /*color: black;*/
    transition: 0.15s
}
.row {
    height: var(--row-height);
}
.spreadRowButton {
    flex-basis: 50%;
}
.scrollable {
    overflow-y: auto;
    padding-right: var(--settings-padding);
    scrollbar-color: var(--scrollbar-thumb) var(--modal-background-color);
}
input[type=checkbox], input[type=radio] {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    /*background-color: var(--modal-background-color);*/
    accent-color: var(--modal-text-color);
}

.panelTopButton {
    height: var(--online-users-size);
    width: var(--online-users-size);
}
.loadingAnimation {
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
/*button:hover .icon {*/
/*    color: white;*/
/*}*/