#profilePicCreatorBackground {
    background-color: deepskyblue;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}
#profilePicCreatorMainPanel {
    width: 80vw;
    height: 80vh;
    background-color: white;
    display: flex;
}
#shapesList {
    width: 300px;
    overflow: auto;
    max-height: 95%;
}
.shapeDiv {
    display: flex;
    flex-direction: column;
}
.pfpInput {
    margin-left: auto;
}
.sliderRow {
    display: flex;
    height: 30px;
    flex-direction: row;
    line-height: 30px;
}
#canvasCircle {
    background-color: red;
    clip-path: circle(150px at center);
}