#profilePicCreatorMainPanel {
    display: flex;
    max-height: 100%;
}
#shapesList {
    width: 300px;
    overflow: auto;
    max-height: 95%;
}

.controls {
    display: flex;
    flex-direction: column;
}
.pfpInput {
    margin-left: auto;
}
.sliderRow {
    display: flex;
    height: 30px;
    flex-direction: row;
    line-height: 30px;
}
#canvasArea {
    display: flex;
    flex-direction: column;
}
.canvasAreaRow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
}
.canvasAreaColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
}
#canvasCircle {
    background-color: red;
    clip-path: circle(150px at center);
}
#controlPanel {
    overflow: auto;
}
.shapeDiv {
    display: flex;
    position: relative;
    border-radius: var(--border-radius);
    border: var(--border-thickness) solid var(--main-color);
    overflow: hidden;
    background-color: var(--modal-color);
}
.shapeDivLeftPanel {
    width: 50px;
    display: flex;
    flex-direction: column;
    border-right: var(--border-thickness) solid var(--main-color);
}
.shapeDivLeftPanel.active {
    width: 100%;
    flex-direction: row;
    border-right: 0;
}
.shapeDivLeftPanelButton {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shapeDivMainPanel {
    flex-grow: 1;
}
.shapeDivMainPanelSection {
    display: flex;
    flex-direction: column;
}
.shapeItemHandle {
    cursor: pointer;
}