#profilePicCreatorBackground {
    background-color: deepskyblue;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#profilePicCreatorMainPanel {
    width: 80vw;
    height: 80vh;
    background-color: white;
    display: flex;
}
/*#shapesList {*/
/*    width: 300px;*/
/*    overflow: auto;*/
/*    max-height: 95%;*/
/*}*/


.controls {
    display: flex;
    flex-direction: column;
}
.pfpInput {
    margin-left: auto;
}
.sliderRow {
    display: flex;
    height: 30px;
    flex-direction: row;
    line-height: 30px;
}
#canvasArea {
    display: flex;
    flex-direction: column;
}
.canvasAreaRow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
}
.canvasAreaColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
}
#canvasCircle {
    background-color: red;
    clip-path: circle(150px at center);
}
#controlPanel {
    width: 500px;
    overflow: auto;
}
.shapeDiv {
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 5px solid #20a2e8;
}
.shapeDivLeftPanel {
    width: 50px;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
}
.shapeDivLeftPanelButton {
    height: 50px;
    width: 50px;
}
.shapeDivLeftPanel.active {
    width: 100%;
    flex-direction: row;
}
.shapeDivMainPanel {
    /*background-color: green;*/
    flex-grow: 1;
}
.shapeDivMainPanelSection {
    display: flex;
    flex-direction: column;
}