:root {
    --line-height: 23px;
    --lines: 6;

    --reply-color: #e63066;
    --popup-color: white;

    --message-background-color: white;

    --loading-overlay-background-color: black;

    --border-thickness: 3px;
    --border: var(--border-thickness) solid;
    --padding-bottom: 14px;
    --padding-top: 8px;
    --profile-pic-margin: 5px;
    --active-conversations-width: 250px;
    --chat-info-width: 250px;
    --online-users-size: 60px;
    --online-users-width: calc(var(--online-users-size) + var(--border-thickness));
    --bottom-height: 80px;
    --max-message-width: 500px;
    --panel-title-height: 60px;
    --item-block-height: 60px;
    --profile-pic-holder-margins: 10px;
    --profile-pic-holder-width: 50px;
    --mobile-message-margin: 50px;
    --mobile-modal-width: 90%;
    --mobile-modal-height: 70%;

    --main-font-size: 17px;
    --main-font: Arial, Helvetica;
    --button-border-thickness: 2px;
    --border-radius: 10px;
    --small-button-border-radius: 5px;
    --input-border-radius: 7px;
    --input-border-thickness: 3px;
    --row-height: 40px;
    --button-height: 30px;
    --checkbox-size: 30px;
    --settings-padding: 20px;
    --bar-padding-left: 10px;

    --user-popup-z: 150;
    --overlay-z: 100;
    --read-indicators-z: 10;
    --dropdown-content-z: 1;


    --main-color: #1ca1f4;
    --accent-color: #f41286;
    --background-color: #333333;
    --app-background-color: #ffffff;
    --app-text-color: #000000;
    --scrollbar-thumb: #c0c0c0;
    --link-color: #0c1629;

    --modal-overlay-background-color: #333333;
    --modal-background-color: #ffffff;
    --modal-text-color: #000000;
    --popup-button-background-color: #000000;
    --popup-button-text-color: #ffffff;

    --message-bubble-background-color: #ffffff;
    --message-bubble-text-color: #000000;
    --reply-bubble-background-color: #ffffff;
    --reply-bubble-text-color: #000000;

    --message-bar-background-color: #ffffff;
    --message-bar-text-color: #000000;

    --big-button-background-hover-color: var(--main-color);
    --big-button-background-active-color: var(--accent-color);
    --big-button-text-hover-color: #000000;
    --big-button-text-active-color: #000000;

    --button-background-color: #ffffff;
    --button-background-hover-color: var(--main-color);
    --button-background-active-color: var(--accent-color);
    --button-text-color: var(--button-background-color);
    --button-text-hover-color: var(--button-background-color);
    --button-text-active-color: var(--button-background-color);

    --user-popup-background-color: #ffffff;
    --user-popup-text-color: #000000;

    --shape-background-color: #ffffff;
    --shape-text-color: #000000;
    --shape-selected-color: #ff0000;

    --input-background-color: white;

    --dropdown-background-color: #ffffff;
    --dropdown-text-color: #000000;

    --loading-background-color: #333333;
    --login-background-color: #333333;
    --login-modal-background-color: #ffffff;
    --login-text-color: #000000;
    --login-input-background-color: white;


}